.btn-delete {
    padding: 4px;
    border-radius: 4px;
}

.btn-delete:hover {
    background: #ac1d1d;
    transition: 0.5s;
}

.btn-delete:active {
    background: #ff5e5e;
    transition: 0.5s;
}

.card-note {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    background-color: var(--background-details);
    border-radius: 4px;
    flex-wrap: wrap;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 16px;

}

.card-note:hover {
    background-color: var(--hover-secondary);
    transition: 0.25s;
}

.card-note:active {
    background-color: var(--active-secondary);
    transition: 0.25s;
}

.card-note_header {
    font-size: 1.1em;
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.card-note_text {
    margin-top: 8px;
    font-size: 1em;
}

.card-note_title {
    font-size: 1.2em;
    margin-right: 12px;
}

.category-info {
    padding: 0.15rem;
}
