.content {
    display: flex;
}

:root {
    --primary: #58a4b0;
    --secondary: #373f51;
    --hover-secondary: #5a6685;
    --active-secondary: #7a8ab3;
    --background: #262c38;
    --background-aside: #181c24;
    --background-details: #485168;
    --text-input: #f0f0f0;
}